.list-show li {
    list-style: none;
    padding: 10px;
    color:white;
    background-color: rgb(36, 40, 44);
    border-bottom: solid 1px white;
    font-family: Arial;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    font-family: monospace;
}

.list-show li ul li a {
    color:rgb(79, 194, 79);
    user-select: none;
}

.list-show li ul {
    height: 0px;
    display: none;
    transition: 1s;
    margin-left: 30px;
}
.list-show li ul li {
    border-left: solid 1px white;
}
.list-show li:hover > ul {
    height: auto;
    display: block;
}