* {
    padding: 0;
    margin: 0;
}

.title-show {
    font-family: Arial;
    font-size: 19px;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 0px 10px 0px;
}

body {
    background-color: #c6d4d8;
}

#main-bar {
    background-color: #041c21;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
#main-bar h1 {
    padding: 10px;
    color:white;
    font-size: 17px;
    padding: 20px 0 20px 10px;
}

#main-bar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 9.99px;
}
#main-bar ul li{
    color:white;
    font-weight: bolder;
    text-align: center;
    list-style: none;
    background-color: #30444c;
    padding: 10px 0px 10px 0px;
    
}

#main-bar ul li:hover {
    background-color: #6d7f86;
}

.post h1 {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    border-bottom: solid 1px black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background-color: rgb(36, 40, 44);
    color:white;
    text-transform: uppercase;
}

.post:nth-child(2) h1 {
    animation-name: title-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes title-color {
    0% {
        background-color: rgb(36, 40, 44);
    }
    50% {
        background-color: rgb(0, 65, 38);
    }
    100% {
        background-color: rgb(36, 40, 44);
    }
}

.post a {
    color:rgb(79, 194, 79);
}
.post p {
    color:white;
    padding: 15px;
    font-size: 13px;
    font-family: monospace;
}



.post {
    background-color: rgb(24, 23, 23);
    font-family: Arial, monospace;
    border-bottom:solid 3px rgb(66, 66, 95);
}
.post .image-show {
    height:210px;
    background-size:cover;
    width: 100%;
}
.post h2 {
    font-size: 16px;
    color:white;
    padding: 15px;
    border-top: solid 1px white;
    text-align: center;
}
.title {
    padding: 10px;
    color:black;
    text-transform: uppercase;
    font-size: 17px;
    font-family: Arial;
    padding: 10px 0 10px 10px;
    background-color: yellow;
}
.post footer {
    color: rgb(151, 151, 151);
    font-size: 10px;
    text-align: right;
    margin-right: 25px;
}

.info {
    padding: 20px;
    font-family: monospace;
    border-bottom: solid 1px black;
    color:rgba(0,0,0,0.8);
}

.warning {
    text-align: center;
    color:rgba(0,0,0,0.8);
    font-family: Arial;
    padding: 20px;
}